*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}
section{
    width: 100%;
    min-height: 100vh;
    /* position: relative; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(10, 8, 8, 0.4)), url(../Images/netflixbackg.jpeg);
    background-position: center;
    background-size: cover;
}
header{
    justify-content: center;
    display: flex;
    /* align-items: center; */
}
.sign{
    margin-top: 80px;
    background-color: black;
    opacity: 0.7;
    border-radius: 5px;
    width: 450px;
    height: 660px;
}
h1{
    color: white;
    font-size: 30px;
    text-transform: capitalize;
    font-family: sans-serif;
    margin-top: 50px;
    margin-left: 70px;
    margin-bottom: 20px;
}
input{
    width: 320px;
    height: 50px;
    background-color: rgb(83, 80, 80);
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    margin-left: 70px;
    font-size: 18px;
    text-align: center;
}
input:hover{
    background-color: white;
    transition: 0.3s;
}
input[type=submit]{
    width: 320px;
    height: 45px;
    background-color: rgb(255, 0, 0);
    border-radius: 5px;
    margin-left: 70px;
    margin-top: 40px;
    font-size: 18px;
    color: white;
}
#submit:hover{
background-color: rgb(192, 32, 32);
transition: 0.5s;
}
input[type=checkbox]{
    width: 20px;
    height: 20px;
    border-radius: 5px;
}
.container{
    display: flex;
    justify-content: space-between;
}
label{
    color: gray;
    position: relative;
    top: 20px;
    right: 80px;
}
.help{
    color: gray;
    text-decoration: none;
    position: relative;
    right: 60px;
    margin-top: 20px;
}
.help:hover{
    color: white;
    transition: 1s;
    text-decoration: underline;
}
.login_footer{
    display: flex;
    align-items: center;
}

.login_footer img{
    width: 20px;
    height: 20px;
    margin-left: 70px;
    margin-top: 50px;
}
.fblink{
    position: relative;
    top: 22px;
    left: 5px;
    text-decoration: none;
    color: gray;
}
.fblink:hover{
    text-decoration: underline;
    transition: 1s;
    color: white;
}
.signup p{
    color: gray;
    font-size: 18px;
    margin-left: 70px;
    margin-top: 10px;
}
.signup a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.signup a:hover{
    text-decoration: underline;
    transition: 2s;
}
.terms{
    color: gray;
    display: flex;
    margin-left: 70px;
    margin-top: 10px;
    font-size: 14px;
    padding-right: 70px;
}
.terms a{
text-decoration: none;
color: rgb(21, 21, 179);
font-size: 17px;
opacity: 1;
}
.terms a:hover{
    text-decoration: underline;
    transition: 1s;
}
